<a href="https://colab.research.google.com/github/andinnho/Exemplos-b-sico-python-/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
PEROJETO_TABUADA

In [ ]:
for i in range(1, 21):
    print(f"Tabuada do {i}:")
    for j in range(1, 21):
        resultado = i * j
        print(f"{i} x {j} = {resultado}")
    print()

Exemplo soma de dois números

In [11]:
num1= 5
num2= 12
soma = num1+ num2
print(soma)

17

Exemplo  subtração  de dois números

In [13]:
anonasc = 1979
anoatual= 2023
idade = anoatual- anonasc
print(idade)

44

Exemplo de estrutura condicional:

In [21]:
idade = 16
if idade >= 18:
 print("você  é maior de idade.")
else:
 print("Você  é  menor de idade. ")

Você  é  menor de idade.

Exemplo de estrutura de repetição (loop):

In [ ]:
for i in range(1,100):
 print(i)

Exemplo de função em Python:

In [34]:
def calcular_area(base,altura):

 area = base * altura
 return area
resultado = calcular_area(10,25)
print("Área  e igual a:",resultado,"m²")

Área  e igual a: 250 m²

Exemplo de lista (array):

In [ ]:
frutas = ["maçã", "banana", "laranja"]
print(frutas[0])  # Acessando o primeiro elemento
print(len(frutas))  # Tamanho da lista
frutas.append("morango")  # Adicionando um elemento

Exemplo de dicionário:

In [42]:
pessoa = {"nome": "João", "idade": 25, "cidade": "São Paulo"}
print(pessoa["idade"])  # Acessando o valor pela chave
pessoa["profissão"] = "Engenheiro"  # Adicionando um par chave-valor

25